<!DOCTYPE html>
<html>
  <head>
    <title><%= t('brand') %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', defer: true %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to t('logout'), logout_path, method: :delete %>
    <% else %>
      <%= link_to t('sign_in_for_admins'), sign_in_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
